* {
    font-family:arial;
    box-sizing: border-box;
}

img {
    height:auto;
    width: 250px;
}

.heading {
    display: flex;
    background-color: pink;
    color: black;
    text-align: left;
    margin: 0;
    padding: 10px;
}


