* {
    font-family: "tahoma";
    box-sizing: border-box;
}

img {
    height: auto;
    width: 250px;
}

.heading {
    display: flex;
    background-color: pink;
    color: black;
    text-align: left;
    margin: 0;
    padding: 10px;
    width: 100%;
}

body {
    width: 100%;
}
