* {background-color:black;
    color:pink;
    font-family:arial;
}

img {
    height:auto;
    width: 250px;
}

heading {
    display: flex;
    background-color: pink;
    color: black;
    text-align: left;
}


